<div class="boxFather">
    <div class="boxProyect">
        <section class="s-title" data-aos="fade-up">
            <h2 class="title">{{proyect.name}}</h2>
        </section>
        <section class="s-image" data-aos="fade-up">
            <img class="image" src="../../../../assets/images/recicle/pexels-nicolas-poupart-2360569.jpg" alt="">
        </section>
        <section class="s-description" data-aos="fade-left">
            <p class="description">{{proyect.description}}</p>
        </section>
        <section class="s-tecnologys">
            <div class="tecnology" data-aos="fade-right">
                <img class="image-tecnology" src="../../../../assets/images/logos/angular.png" alt="">
                <h4 class="title-tecnology">title tecnology</h4>
                <p class="version-tecnology">version: <span class="spanVersion">14.14.2</span></p>
                <p class="description-tecnology">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam culpa</p>
            </div>
            <div class="tecnology" data-aos="fade-left">
                <img class="image-tecnology" src="../../../../assets/images/logos/bootstrap.png" alt="">
                <h4 class="title-tecnology">title tecnology</h4>
                <p class="version-tecnology">version: <span class="spanVersion">14.14.2</span></p>
                <p class="description-tecnology">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam culpa</p>
            </div>
        </section>
        <section class="s-image" data-aos="fade-right">
            <img class="image" src="../../../../assets/images/recicle/pexels-quintin-gellar-313782.jpg" alt="">
        </section>
        <section class="s-next" data-aos="fade-left">
            <button class="btnNext">Siguiente Proyecto</button>
        </section>
    </div>
</div>
 