<div class="boxFather">
    <div class="boxProyect">
        <section class="s-title" data-aos="fade-up">
            <h2 class="title">{{proyect.name}}</h2>
        </section>
        <section class="s-image" data-aos="fade-up">
            <img class="image" src="../../../../assets/images/recicle/pexels-nicolas-poupart-2360569.jpg" alt="">
        </section>
        <section class="s-description" data-aos="fade-left">
            <p class="description">{{proyect.description}}</p>
        </section>
        <section class="s-tecnologys">
            <div class="tecnology" *ngFor="let tecnology of proyect.tecnologys" data-aos="fade-up">
                <img class="image-tecnology" src="{{tecnology.imgTec}}" alt="">
                <h4 class="title-tecnology">{{tecnology.titleTec}}</h4>
                <p class="version-tecnology">version: {{tecnology.version}} <span class="spanVersion">14.14.2</span></p>
                <p class="description-tecnology">{{tecnology.descriptionTec}}</p>
            </div>
        </section>
        <section class="s-image" data-aos="fade-right">
            <img class="image" src="../../../../assets/images/recicle/pexels-quintin-gellar-313782.jpg" alt="">
        </section>
        <section class="s-next" data-aos="fade-left">
            <button class="btnNext" (click)="next(proyect.id)">Siguiente Proyecto</button>
        </section>
    </div>
</div>
 