@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Heebo:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chau Philomene One', sans-serif;
  
}

html, body {
  width: 100%; 
  height: 100%; 
  padding: 0;
  margin: 0;
 }

::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 156px rgb(0, 0, 0); 
    border-radius: 5px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background:  rgb(255, 255, 255);
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:  rgb(218, 218, 218);
}


[data-title]:hover:after {
  opacity: 1;
  transition: all 0.8s ease 0.5s;
  visibility: visible;
  animation: myAnim 0.7s ease-in-out 0s 1 normal forwards;
}
[data-title]:after {
  content: attr(data-title);
  background-color: #ffffff;
  color: #162155;
  font-size: 18px;
  position: absolute;
  padding: 2px 10px;
  bottom: 1.6em;
  left: 120%;
  height: 30px;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #d1d1d1;
  opacity: 0;
  border: 1px solid #ffffff;
  z-index: 99999;
  visibility: hidden;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
[data-title] {
  position: relative;
}

.a[data-title]::after{
  background-color: #118afc !important;
  color: white !important;
}

.b[data-title]::after{
  background-color: #8cfd30 !important;
  color: rgb(0, 0, 0) !important;
}

.c[data-title]::after{
  background-color: #da2727 !important;
  color: rgb(255, 255, 255) !important;
}

.d[data-title]::after{
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
}

.e[data-title]::after{
  background-color: #fd3052 !important;
  color: rgb(255, 255, 255) !important;
}

.f[data-title]::after{
  background-color: #f3f725 !important;
  color: rgb(0, 0, 0) !important;
}

.g[data-title]::after{
  background-color: #3071fd !important;
  color: rgb(255, 255, 255) !important;
}

.h[data-title]::after{
  background-color: #2a3753 !important;
  color: rgb(255, 255, 255) !important;
}

.i[data-title]::after{
  background-color: #35aa3b !important;
  color: rgb(255, 255, 255) !important;
}

.j[data-title]::after{
  background-color: #fd8c21 !important;
  color: rgb(255, 255, 255) !important;
}

.k[data-title]::after{
  background-color: #3071fd !important;
  color: rgb(255, 255, 255) !important;
}

.l[data-title]::after{
  background-color: #2a3753 !important;
  color: rgb(255, 255, 255) !important;
}

.m[data-title]::after{
  background-color: #00a708 !important;
  color: rgb(255, 255, 255) !important;
}

.n[data-title]::after{
  background-color: #1add1a !important;
  color: rgb(0, 0, 0) !important;
}

.o[data-title]::after{
  background-color: #ab30fd !important;
  color: rgb(255, 255, 255) !important;
}

.p[data-title]::after{
  background-color: #fd3030 !important;
  color: rgb(255, 255, 255) !important;
}

.q[data-title]::after{
  background-color: #30defd !important;
  color: rgb(0, 0, 0) !important;
}

.r[data-title]::after{
  background-color: #30fde2 !important;
  color: rgb(0, 0, 0) !important;
}



@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


@keyframes myAnimTwo {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}