<div class="boxFather">
    <section class="section-1">
        <div class="boxSection-1-1" data-aos="fade-up">
            <div class="boxSection-1-1-1">
                <img src="../../../../assets/images/photo.png" alt="" class="imgPhoto">
                <p class="textBoxSection-1-1-1">Mi nombre es <b class="spanText">Iván Daniel</b> y mi pasión es la programación. Disfruto cada línea de código y siempre estoy buscando oportunidades para aprender y crecer en este emocionante campo. ¡Estoy entusiasmado por sumergirme en nuevos proyectos y seguir alimentando mi pasión por la programación! </p>
            </div>
            <div class="boxSection-1-1-2">
                <a data-title="ivanhshs1@gmail.com"><img class="imgReds" src="../../../../assets/images/redes/gmail.svg" alt=""></a>
                <a data-title="Linkedin" href="https://www.linkedin.com/in/ivan-daniel-hincapi%C3%A9-s%C3%A1nchez-712611270/"><img class="imgReds" src="../../../../assets/images/redes/linkedin.svg" alt=""></a>
                <a data-title="Github/ivandhs1" href="https://github.com/ivandhs1"><img class="imgReds" src="../../../../assets/images/redes/github.svg" alt=""></a>
                <a data-title="Whatsapp" href="https://w.app/Bd1f9g"><img class="imgReds" src="../../../../assets/images/redes/whatsapp.svg" alt=""></a>
            </div>
        </div>
        <div class="boxSection-1-2"></div>
        <div class="boxSection-2-1" data-aos="fade-up"> 
            <div class="boxSection-2-1-1">
                <p class="textBoxSection-2-1-1">Soy un <b class="spanText">Programador</b> con experiencia en Frontend y Backend. Me entusiasman los retos y siempre busco probar nuevas tecnologías para mantenerme actualizado. Mi enfoque es desarrollar soluciones completas y eficientes, aportando ideas frescas y creativas a cada proyecto. .  </p>
            </div>
            <div class="boxSection-2-1-2">
                <a data-title="ivanhshs1@gmail.com"><img class="imgReds" src="../../../../assets/images/redes/gmail.svg" alt=""></a>
                <a data-title="Linkedin" href="https://www.linkedin.com/in/ivan-daniel-hincapi%C3%A9-s%C3%A1nchez-712611270/"><img class="imgReds" src="../../../../assets/images/redes/linkedin.svg" alt=""></a>
                <a data-title="Github/ivandhs1" href="https://github.com/ivandhs1"><img class="imgReds" src="../../../../assets/images/redes/github.svg" alt=""></a>
                <a data-title="Whatsapp" href="https://w.app/Bd1f9g"><img class="imgReds" src="../../../../assets/images/redes/whatsapp.svg" alt=""></a>
            </div>
        </div>
    </section>
    <section class="section-2">
        <div class="boxHOne">
            <h2 class="titleHabilidades">Herramientas</h2>
            <div class="boxHerramientas" data-aos="fade-right">
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/vscode.png" alt="">
                    <p>Visual Studio</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/intelliJ.png" alt="">
                    <p>IntelliJ</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/springtools.png" alt="">
                    <p>Springtools</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/git.png" alt="">
                    <p>Git</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/github.png" alt="">
                    <p>Github</p>
                </div>
            </div>
        </div>
        <div class="boxHTwo">
            <h2 class="titleHabilidades">Lenguajes</h2>
            <div class="boxLenguajes" data-aos="fade-left">
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/JavaScript-logo.png" alt="">
                    <p>JavaScript</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/typescript.png" alt="">
                    <p>TypeScript</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/java.png" alt="">
                    <p>Java</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/nodejs.png" alt="">
                    <p>NodeJs</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/html.png" alt="">
                    <p>HTML</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/css.png" alt="">
                    <p>CSS</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/mysql.png" alt="">
                    <p>MySQL</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/mongodb.png" alt="">
                    <p>MongoDB</p>
                </div>
            </div>
        </div>
        <div class="boxHThree">  
            <h2 class="titleHabilidades">Frameworks</h2>
            <div class="boxFrameworks" data-aos="fade-up-right">
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/angular.png" alt="">
                    <p>Angular</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/react.png" alt="">
                    <p>React</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/springboot.png" alt="">
                    <p>Springboot</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/bulma.png" alt="">
                    <p>Bulma CSS</p>
                </div>
                <div class="boxHerramienta">
                    <img src="../../../../assets/images/logos/bootstrap.png" alt="">
                    <p>Bootstrap</p>
                </div>

            </div>
        </div>
    </section>
    <section class="section-3">
        <h2>Proyectos</h2>
        <div class="boxProyects">
            <div class="proyect" data-aos="fade-up-right">
                <img src="../../../../assets/images/recicle/pexels-quintin-gellar-313782.jpg" alt="">
                <div class="card-display .blur-in">
                  <h3 class="titleProyect">Gestion Personas</h3>
                </div>
                <div class="card-hover .blur-in">
                  <h3 class="titleProyect">Gestion Personas</h3>
                  <div class="box-tecs">
                    <div class="HoverboxTecno">
                      <p>Angular</p>
                    </div>
                    <div class="HoverboxTecno">
                        <p>CSS</p>
                    </div>
                    <div class="HoverboxTecno">
                        <p>HTML</p>
                    </div>
                    <div class="HoverboxTecno">
                        <p>TypeScript</p>
                    </div>
                    <div class="HoverboxTecno">
                        <p>Java</p>
                    </div>
                    <div class="HoverboxTecno">
                        <p>Springboot</p>
                    </div>
                    <div class="HoverboxTecno">
                        <p>Mysql</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="proyect" data-aos="fade-up-left">
                <img src="../../../../assets/images/recicle/pexels-quintin-gellar-313782.jpg" alt="">
                <div class="card-display .blur-in">
                  <h3 class="titleProyect">Gestion Personas</h3>
                </div>
                <div class="card-hover .blur-in">
                  <h3 class="titleProyect">Gestion Personas</h3>
                  <div class="box-tecs">
                    <div class="HoverboxTecno">
                      <p>Angular</p>
                    </div>
                    <div class="HoverboxTecno">
                        <p>CSS</p>
                    </div>
                    <div class="HoverboxTecno">
                        <p>HTML</p>
                    </div>
                    <div class="HoverboxTecno">
                        <p>TypeScript</p>
                    </div>
                    <div class="HoverboxTecno">
                        <p>Java</p>
                    </div>
                    <div class="HoverboxTecno">
                        <p>Springboot</p>
                    </div>
                    <div class="HoverboxTecno">
                        <p>Mysql</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <button class="btnProyectos">Ver Todos</button>
    </section>
    <section class="section-4">
        <div class="boxSection-4-1" data-aos="fade-up">
            <div class="boxSection-4-1-1" >
                <h3>Contactame</h3>
                <form action="" class="formContacto">                   
                    <div class="field">
                        <label class="label">Nombre Completo</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Ingresa tu nombre completo">
                        </div>
                        <p class="help">This username is available</p>
                    </div>   
                    <div class="field">
                        <label class="label">Correo Electronico</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="Ingresa tu correo electronico">
                        </div>
                        <p class="help">This email is invalid</p>
                    </div>
                    <div class="field">
                        <label class="label">Mensaje</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Dejame un mensaje :D"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="boxSection-1-1-2">
                <button class="btnEnviar btnProyectos">Enviar</button>
            </div>
        </div>
    </section>
</div>

