header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    z-index: 5;
    position: fixed;
    transition: 1s;
    padding-bottom: 20px;
    padding-top: 20px;
}

.title{
    font-size: 50px;
    color:#f9f7f7;
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
    margin: 0;
    transition: 0.3S
}
.title:hover{
    opacity: 1;
    transform: scale(1.03);

}

.logo{
    width: 80px;
    height: 80px;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 1rem;
}

.logo:hover{
    opacity: 1;
    transform: scale(1.03);
}

.boxHeader-1{
    display: flex;
    align-items: center;
}

.boxHeader-2{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.boxHeader-2 a{
    height: 50px;
    width: 125px;
    color: #ebf8f0;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.2s ease;
    border: 1px solid #00fff26c;
    z-index: 3;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(100deg,rgb(0 0 0 / 60%),#01c9ae);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.boxHeader-2 a:hover{
    color: rgb(255, 255, 255);
    opacity: 0.9;
    transform: scale(1.1);
    background: linear-gradient(145deg,rgba(0, 0, 0, 0.829)#01c9ae);
}



@media screen and (max-width: 920px) {
    .logo{
        width: 60px;
        height: 60px;
    }
    .title{
        font-size: 40px;
    }
}

@media screen and (max-width: 780px) {
    .logo{
        width: 50px;
        height: 50px;
    }
    .title{
        font-size: 30px;
    }

    .boxHeader-2 a{
        height: 40px;
        width: 120px;
        padding: 0;
    }
}

@media screen and (max-width:660px) {
    .title{
        font-size: 35px;
    }
    header{
        flex-direction: column;
        height: 120px;
    }
}

@media screen and (max-width:440px){
    .title{
        font-size: 24px;
    }
    .boxHeader-2 a{
        height: 35px;
        width: 110px;
    }
    .logo{
        height: 45px;
        width: 45px;
    }
}

@media screen and (max-width:340px){
    .title{
        font-size: 22px;
    }
    .boxHeader-2 a{
        height: 35px;
        width: 110px;
    }



}
