*{
    background-color: black;
}

.proyectos{
    background-image: url("../../../../assets/images/fondos/fondo3.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.section-2{
    background-image: url(../../../../assets/images/fondos/fondo1.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    flex-direction: column;
    gap: 2rem;
    padding-top: 8rem;
    padding-bottom: 2rem;
    overflow: scroll;
}

.title{
    font-size: 45px;
    color: whitesmoke;
    margin: 0;
}

.boxProyects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.proyect{
    width: 500px;
    height: 350px;
    cursor: pointer;
    transition: 2s;   
}

.proyect img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow:  3px 3px 5px #000000, -3px -3px 5px #000000;
}

.card-display{
    position: relative;
    background: linear-gradient(145deg,rgba(0, 0, 0, 0.664),#01c9ae52);
    width: 100%;
    height: 20%;
    bottom: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
    animation:blur-in 0.3s linear both
}

.card-hover{
    position: relative;
    background: linear-gradient(145deg,rgba(0, 0, 0, 0.664),#01c9ae52);
    width: 100%;
    height: 100%;
    bottom: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 2s;
    animation:blur-in 0.4s linear both
}

.box-tecs{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.HoverboxTecno{
    width: auto;
    height: 50px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow:  3px 3px 5px #000000, -3px -3px 5px #000000;
    background: linear-gradient(145deg, #f9f7f759, #d2d0d027);
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 0.2s;
}

.HoverboxTecno:hover{
    transform: scale(1.04);
}

.HoverboxTecno p{
    margin: 0;
}

.proyect:hover{
    transform: translateY(-10px);
}
.proyect:hover .card-display{
    display: none;
}
.proyect:hover .card-hover{
    display: flex;
}

.titleProyect{
    color: whitesmoke;
    background-color: transparent;
    margin: 0;
}

p{
    background-color: transparent;
}


.boxSearch{
    width: 400px;
    height: 50px;
    display: flex;
}

.inputSearch{
    width: 85%;
    height: 100%;
    background: linear-gradient(145deg, #f9f7f759, #d2d0d027);
    box-shadow:  3px 3px 5px #000000, -3px -3px 5px #000000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #01c9ae52;
    transition: 0.3s;
    color: white;
    font-size: 22px;
    padding-left: 5px;
}

.inputSearch:focus{
    background: linear-gradient(145deg,rgba(0, 0, 0, 0.664),#01c9ae52);
}

.imageSearch{
    width: 15%;
    height: 100%;
    background: linear-gradient(145deg, #f9f7f759, #d2d0d027);
    box-shadow:  3px 3px 5px #000000, -3px -3px 5px #000000;
    border: 2px solid #01c9ae52;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.imageSearch:hover{
    background: linear-gradient(145deg,rgba(0, 0, 0, 0.664),#01c9ae52);
}

.imageSearch img{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */


@keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}



@media screen and (max-width:1080px) {
    .proyect{
        width: 420px;
        height: 320px;
    }
}

@media screen and (max-width:900px) {
    .proyect{
        width: 320px;
        height: 280px;
    }
    .HoverboxTecno{
        height: 30px;
        width: auto;
        font-size: 18px;
    }
}

@media screen and (max-width:780px) {
    .title{
        font-size: 34px;
    }
}

@media screen and (max-width:680px) {
    .proyect{
        width: 420px;
        height: 380px;
    }

    .HoverboxTecno{
        height: 40px;
        width: auto;
        font-size: 18px;
    }
    .title{
        font-size: 40px;
    }
}

@media screen and (max-width:450px) {
    .proyect{
        width: 320px;
        height: 280px;
    }

    .HoverboxTecno{
        height: 40px;
        width: auto;
        font-size: 18px;
    }
    .title{
        font-size: 35px;
    }

    .boxSearch{
        width: 300px;
    }
}

@media screen and (max-width:350px) {
    .title{
        font-size: 30px;
    }

    .boxSearch{
        width: 280px;
        height: 40px;
    }

    .proyect{
        width: 280px;
        height: 250px;
    }

}

